a.	Сгенерите датафрейм размера 4х10 и наполните его случайными целыми числами в промежутке [1,10], выведите его на экран 

b.	Проведите преобразование: Для тех строк, в которых число во 2 колонке больше 3, поделите число в 4 колонке на число из 2 колонки

c.	Выведите получившийся датафрейм на экран, посчитайте разницу сумм колонок между исходным датафреймом и тем, что получился после преобразований

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(1, 10, size=(10, 4)))

In [3]:
df1 = df.copy()
df1

   0  1  2  3
0  4  5  7  9
1  6  4  6  8
2  9  4  3  3
3  1  2  2  5
4  9  9  6  8
5  2  2  2  5
6  3  1  4  4
7  6  4  8  2
8  7  7  1  2
9  1  3  8  8

In [4]:
mask = df1[1] > 3

In [5]:
df1.loc[mask, 3] = (df1.loc[mask, 3] / df1.loc[mask, 1]).astype(int)

In [6]:
print(df, df1, sep='\n\n')

   0  1  2  3
0  4  5  7  9
1  6  4  6  8
2  9  4  3  3
3  1  2  2  5
4  9  9  6  8
5  2  2  2  5
6  3  1  4  4
7  6  4  8  2
8  7  7  1  2
9  1  3  8  8

   0  1  2  3
0  4  5  7  1
1  6  4  6  2
2  9  4  3  0
3  1  2  2  5
4  9  9  6  0
5  2  2  2  5
6  3  1  4  4
7  6  4  8  0
8  7  7  1  0
9  1  3  8  8

In [7]:
df.sum() - df1.sum()

0     0
1     0
2     0
3    29
dtype: int64